#body
{
    /** Be sure to use your selected colors */
    background-color: #963646;
}

.title
{
    background-color: #C45A6C;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    color: black;
    text-align: center; 
}

h3{
    text-align: center; 
}