#body
{
    background-color: #051a3f;
}

.title
{
    background-color: #bccfdf;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    color: black;
    text-align: center; 
}

h3{
    text-align: center; 
}